CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.history
.vscode
*.o
*.txt
*.log
*.pdf
*.exe
*.sh
.idea
.lnk
*.swp
*.lnk
cmake-build-debug
CMakeLists.txt